<h1> About </h1>

  <p> W3Schools is a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, SQL, and JQuery, covering most aspects of web programming.

The site derives its name from the World Wide Web (W3), but is not affiliated with the W3C.

W3Schools was originally created in 1998, by Refsnes Data, a Norwegian software development and consulting company.</p>

  <%= link_to 'Home', root_path %>