<div class = "container">
  <footer class= "footer">
    <small>
      Copyrigths &copy; <a href="https://udemy/courses.com">Udemy Course</a> by <a href= "http://udemy.com"> Udemy </a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path%>
      </ul>
    </nav>
  </footer>
</div>